<td class="link-icon " ,id="wish-check-<% wish.id %>">
    <% if WishCheck.find_by(wish_id: wish.id) %>
    <%= link_to "", wish_check_delete_path(wish), method: :delete, class:"btn-link glyphicon glyphicon-ok-circle text-danger", remote: true %>
    <% else %>
    <%= link_to "", wish_check_create_path(wish), method: :post, class:"btn-link glyphicon glyphicon-ok-circle text-secondary", remote: true %>
    <% end %>
</td>