<h1>Wish List</h1>

<div class="add-form">
  <%= form_for(@wish,url: wish_path) do |form| %>

  <div class="wish_text">
    <%= form.label :wish_text %>
    <%= form.text_field :wish_text %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>

  <% end %>

</div>