<div class="row">
  <h1 class="ml-3">Wish List</h1>
</div>
<div class="row">
    <div class="wish-add-form ml-3">
        <%= form_for(@wish,url: wish_path) do |form| %>
        <span class="wish_text">
            <%= form.text_field :wish_text, style:"height:30px"; %>
        </span>
        <span class="submit">
            <%= form.submit('保存',class: "btn btn-secondary btn-sm") %>
        </span>
        <% end %>
    </div>
</div>