<div class="row mx-3">
    <h1>New Event
     <%= link_to "", events_path,class:"btn-link glyphicon glyphicon-repeat" %>
     </h1>
</div>
<div class="row mx-3 event-form">
<%= render 'form', event: @event %>
</div>