<h1>Books#search</h1>
<p>Find me in app/views/books/search.html.erb</p>

  <h1>Rakuserach</h1>
<div class='content'>
  <div id="search-box">
   <%= form_with url: books_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, class: "form-control" %>
    <%= f.submit '本の題名を検索', class: "form-control btn btn-success"%>
    <% end %>
  </div>
  <h2>検索結果</h2>
  <div id='good_list'>
     <%= render partial: 'book_list' %>
  </div>
</div>

