<h1>このサイトについて</h1>

<div class="row">
  <div id="typing" class="col-12  px-5 mt-5">
    近年書類の電子化が進んでおり、今まで紙だった本電子書籍化が進んできている。 そんな中、スケジュールや日記などをスマホ等のデバイスで管理している人も多くなってきている。 色々な種類のリフィルの中から好きな物を選んで自分だけのオリジナル手帳を作る楽しさや必要なものを選択して自分の使いやすいものにしていけるのはシステム手帳ならではだと思う。 自分の好きなリフィルを選ぶ楽しみはのこしつつ、WEB上ならではのPCやスマホなどの複数のデバイスからのアクセスや、両方のいいとこ取りができるシステム手帳ができないかと考えた。
  </div>
</div>

<div class="row">
  <div class="col-6 px-5 mt-5">
    <%= image_tag 'schedule.jpg'%>
  </div>

  <div class="col-6 px-5 mt-5">
      <p>スケジュールを管理することで仕事の無駄がなくなり、効率的に仕事を進められます。 細かく時間を把握することで、仕事を効率化し、充実したプライベートの時間を確保するためにも役立ちます。
      計画的に物事を進めていきましょう。</p>
  </div>
</div>

<div class="row">
  <div class="col-6 px-5 mt-5">
    <%= image_tag 'log.jpg'%>
  </div>

  <div class="col-6 px-5 mt-5">
            <p>
            新しい発見・学び、様々なシーンでの感情や思いを記して、1日の振り返りをしましょう。
            日記を書くことによりストレス発散になり、気持ちや感情を整理することができます。
            また読み返すことで、自分の考え方や行動パターンなど新たな気づきを得ることができるかもしれません。
        </p>
  </div>
</div>

<div class="row">
  <div class="col-6 px-5 mt-5">
    <%= image_tag 'log.jpg'%>
  </div>

  <div class="col-6 px-5 mt-5">
            <p>
            夢や目標は何ですか？
            実際に文字に起こすことで自分が望んでいることを改めて認識するのに役立ちます。
            大きな夢や小さな夢をたくさん記録していきましょう。
            人生は有限です。夢や目標に向かって充実したものにしていきましょう。
        </p>
  </div>
</div>

<script>
  function typing(str = ""){
  let buf = document.getElementById("typing").innerHTML; //書き込み済みの文字を要素から取得
  let writed = buf.length; //書き込み済みの文字数を取得
  let write = "";
  if(writed < str.length){
    write = str.charAt(writed); //1文字だけ取得する
  }else{
    buf = ""; //今回は何度も繰り返すために内容を消去します
  }
  document.getElementById("typing").innerHTML = buf + write; //1文字だけ追加していく
}
const str = document.getElementById("typing").innerHTML; //書き込む文字を要素から取得
const delay = 200 //1文字が表示される時間
document.getElementById("typing").innerHTML = "";
window.setInterval(function(){typing(str);}, delay);
</script>