// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {
    background-image: image-url("home.jpg");
    min-height: 100vh;
    position:  relative;
}

.bg-img {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}


.home-content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .page-title {
        font-size: 5rem;
        font-family: 'philosopher', serif;
        text-transform: uppercase;
        font-weight: normal;
        text-transform: none;
        color: #fff;
    }

    p {
        font-size: 1.5rem;
        margin: 10px 0 20px;
        font-family: 'philosopher', serif;
        color: #fff;
    }

    .signup-button {
        text-aligin: center;
        margin: 0px auto;
    }
}