// Place all the styles related to the wishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font: #333;
$listbg: #F2F2F2;

.wish-list {
    th {
        text-align: center;
    }

    td {
        font-size: 15px;
        font-color: $font;
    }

    .link-icon {
        text-align: center;
    }

}

.glyphicon-repeat {
  font-size: 30px;
  padding-top: 30px;
}

.logictree-table {
    th td {
        text-aligin: center;
    }

    textarea {
        resize: none;
        width: 100%;
        margin: auto 0;
    }

    input {
        width: 100%;
        margin: auto 0;
    }

    td {
        padding: 10px 40px;
        border: 1px black solid;
        text-align: center;

        &.logic1,
        &.logic3,
        &.logic11,
        &.logic31,
        &.wish-text {
            background-color: $listbg;
        }

        &.logic1,
        &.logic3,
            {
            textarea {
                background-color: $listbg;
            }
        }

        &.logic11,
        &.logic31 {
            input {
                background-color: $listbg;
                border: 1px solid $font;
                outline: none;
                border-radius: 1px;
            }
        }
        .wish-list{
             background-color: $listbg;
        }
    }

    td textarea {
        vertical-align: middle;


    }
}

.submit {
    a:visited {
        color: #fff;
    }
}