/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require simple_calendar
 *require_self
 *require_tree .
 */

@import "bootstrap";
@import "partials/*";

$color-line: #888;
$color-list: #ddd;
$color-hover1: #fff;
$color-hover2: #000;
$footer-p: #000;
$font-nav: #666;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#main {
    margin-bottom: 80px;
}

.navbar-nav {
    p {
        font-size: 20px;
        padding: 15px 0;
        color: $font-nav;
    }
}

.logo {
    height: 65px;
    width: 210px;
}

.sidebar {
    padding: 5px 10px;

}

.item-title {
    font-size: 1.5rem;
    padding: 0 8px 8px;
    border-bottom: 2px $color-line solid;
    font-weight: normal;
}

.item-list {
    list-style: none;

    li {
        border-bottom: 1px #color-list solid;
    }
}

header {
    border-top: 2px $color-line solid;
    border-bottom: 2px $color-line solid;
    maxwidth: 1100px;
    margin: 0 auto;
    padding: 0 4%;

    .btn-link {
        padding: 0 20px;
        font-size: 20px;
    }

    .user-name {
        padding-right: 30px;
    }

    .navbar-brand {
        font-size: 30px;
    }
}

.wrapper {
    min-height: 100vh;
    position: relative;
    padding-bottom: 84px;
    box-sizing: border-box;
}

footer {
    border-top: 2px $color-line solid;
    border-bottom: 2px $color-line solid;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    padding: 26px 0;
    position: absolute;
    bottom: 0;

    p {
        color: $footer-p;
        font-size: 0.85rem;
    }
}