<table border="1">
    <thead>
        <tr>
            <th></th>
            <th colspan="3">本情報</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td rowspan="2"><%= link_to "詳細", booklog_path(f)  %></td>
          <td>題名</td>
          <td><%= f.book_title %></td>
          <td rowspan="2"><img class="book-img" src="<%= f.book_img_url %>" alt="本画像"></td>
        </tr>
        <tr>
            <td>著者</td>
            <td><%= f.book_author %></td>
        </tr>
</table>